body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  max-height: 800px;
}

.row {
  align-self:center;
  display: flex;
}

.col{
  flex: 1;
  min-width: 50px;
  min-height: 50px;
  background: black;
  flex-wrap: wrap;
}

button {
  flex:1;
}

