body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: darkslategrey;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  border: black solid 8px;
}

.row {
  display: flex;
  flex: 1 1 50px;
}

.col{
  flex: 1 1 50px;
  background: #5c5c5c;
}

